In [2]:
#import libraries
import pandas as pd

## First look at the ds

In [8]:
ds = pd.read_csv("../dataset/measurements.csv")
ds.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [10]:
ds.shape

(388, 12)

In [12]:
ds.columns

Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside',
       'specials', 'gas_type', 'AC', 'rain', 'sun', 'refill liters',
       'refill gas'],
      dtype='object')

In [17]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
distance         388 non-null object
consume          388 non-null object
speed            388 non-null int64
temp_inside      376 non-null object
temp_outside     388 non-null int64
specials         93 non-null object
gas_type         388 non-null object
AC               388 non-null int64
rain             388 non-null int64
sun              388 non-null int64
refill liters    13 non-null object
refill gas       13 non-null object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [15]:
ds.dtypes

distance         object
consume          object
speed             int64
temp_inside      object
temp_outside      int64
specials         object
gas_type         object
AC                int64
rain              int64
sun               int64
refill liters    object
refill gas       object
dtype: object

In [18]:
ds.describe()

            speed  temp_outside          AC        rain         sun
count  388.000000    388.000000  388.000000  388.000000  388.000000
mean    41.927835     11.358247    0.077320    0.123711    0.082474
std     13.598524      6.991542    0.267443    0.329677    0.275441
min     14.000000     -5.000000    0.000000    0.000000    0.000000
25%     32.750000      7.000000    0.000000    0.000000    0.000000
50%     40.500000     10.000000    0.000000    0.000000    0.000000
75%     50.000000     16.000000    0.000000    0.000000    0.000000
max     90.000000     31.000000    1.000000    1.000000    1.000000

### Quick column exploration

In [29]:
#We explore the null values
ds.isnull().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

In [30]:
#We explore columns with 0
ds.isin([0]).sum()

distance           0
consume            0
speed              0
temp_inside        0
temp_outside       9
specials           0
gas_type           0
AC               358
rain             340
sun              356
refill liters      0
refill gas         0
dtype: int64

#### We will further explore the columns; specials, refill liters, refill gas, AC, rain and sun

The following columns have very few values

In [21]:
ds["specials"].value_counts()

rain                  32
sun                   27
AC rain                9
ac                     8
AC                     6
snow                   3
sun ac                 3
AC Sun                 1
AC snow                1
ac rain                1
half rain half sun     1
AC sun                 1
Name: specials, dtype: int64

In [32]:
ds["refill liters"].value_counts()

45      2
37,7    2
39      2
38      1
37,2    1
41      1
10      1
37,6    1
37      1
38,3    1
Name: refill liters, dtype: int64

In [33]:
ds["refill gas"].value_counts()

SP98    8
E10     5
Name: refill gas, dtype: int64

These columns are explored to understand the values

In [24]:
ds["AC"].value_counts()

0    358
1     30
Name: AC, dtype: int64

In [34]:
ds["rain"].value_counts()

0    340
1     48
Name: rain, dtype: int64

In [35]:
ds["sun"].value_counts()

0    356
1     32
Name: sun, dtype: int64