In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data cleaning

In [2]:
ds = pd.read_csv('../dataset/measurements.csv')
ds.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [3]:
ds.isnull().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

In [4]:
ds.dtypes

distance         object
consume          object
speed             int64
temp_inside      object
temp_outside      int64
specials         object
gas_type         object
AC                int64
rain              int64
sun               int64
refill liters    object
refill gas       object
dtype: object

### 1. Drop columns

"refill liters" and "refill gas" have only 13 values each, wich is aprox a 3.3% of the total, hence why I choose to drop both columns

In [5]:
ds_clean = ds.drop(columns=['refill liters','refill gas'])
ds_clean.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun
0,28,5,26,"21,5",12,NaN,E10,0,0,0
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0

In [6]:
ds_clean.isnull().sum()

distance          0
consume           0
speed             0
temp_inside      12
temp_outside      0
specials        295
gas_type          0
AC                0
rain              0
sun               0
dtype: int64

We still have 2 columns with missing values, lets keep exploring

### 2. Substitute values

We are only missing 12 values of the column "temp_inside", to complete those missing values, I will be substituting the nulls for the mean value of the column

In [7]:
ds_clean['temp_inside'].value_counts()

21,5    133
22      102
22,5     59
20       25
21       13
23       13
25       12
24,5      7
20,5      4
24        3
23,5      2
25,5      2
19        1
Name: temp_inside, dtype: int64

In [8]:
#We change the ',' for a '.' in order to calculate the mean
ds_clean['temp_inside'] = ds_clean['temp_inside'].astype(str)
ds_clean['temp_inside'] = [x.replace(',','.') for x in ds_clean['temp_inside']]
ds_clean['temp_inside'] = ds_clean['temp_inside'].astype(float)
ds_clean['temp_inside'].head(3)

0    21.5
1    21.5
2    21.5
Name: temp_inside, dtype: float64

In [9]:
ds_clean.temp_inside.dtype

dtype('float64')

In [10]:
ds_clean['temp_inside'] = ds_clean['temp_inside'].astype(float)
#I now calculate the mean
ds_clean['temp_inside'].mean()

21.929521276595743

In [11]:
ds_clean.dtypes

distance         object
consume          object
speed             int64
temp_inside     float64
temp_outside      int64
specials         object
gas_type         object
AC                int64
rain              int64
sun               int64
dtype: object

In [12]:
#We replace the missing values with the mean
ds_clean['temp_inside'] = ds_clean['temp_inside'].astype(str)
ds_clean['temp_inside'] = [x.replace('nan','22.0') for x in ds_clean['temp_inside']]
ds_clean['temp_inside'].isnull().sum()

0

Now we have to deal with the missing values of the 'Specials' column

In [15]:
ds_clean.isnull().sum()

distance          0
consume           0
speed             0
temp_inside       0
temp_outside      0
specials        295
gas_type          0
AC                0
rain              0
sun               0
dtype: int64

### 3. Add a new value to group the missing

In [16]:
ds_clean['specials'].value_counts()

rain                  32
sun                   27
AC rain                9
ac                     8
AC                     6
snow                   3
sun ac                 3
half rain half sun     1
AC Sun                 1
AC sun                 1
ac rain                1
AC snow                1
Name: specials, dtype: int64

In [17]:
# First lets group the values correctly together
ds_clean['specials'].replace({"ac rain":"AC rain", "sun ac": "AC sun", "ac": "AC","AC Sun": "AC sun"}, inplace=True)
ds_clean['specials'].value_counts()

rain                  32
sun                   27
AC                    14
AC rain               10
AC sun                 5
snow                   3
half rain half sun     1
AC snow                1
Name: specials, dtype: int64

In [18]:
ds_clean['specials'] = ds_clean['specials'].astype(str)
ds_clean['specials'] = [x.replace('nan','all good') for x in ds_clean['specials']]

In [19]:
ds_clean['specials'].value_counts()

all good              295
rain                   32
sun                    27
AC                     14
AC rain                10
AC sun                  5
snow                    3
half rain half sun      1
AC snow                 1
Name: specials, dtype: int64

Lets check if all the columns are now correctly arranged with their respective values

In [20]:
ds_clean.isnull().sum()

distance        0
consume         0
speed           0
temp_inside     0
temp_outside    0
specials        0
gas_type        0
AC              0
rain            0
sun             0
dtype: int64

After arranging this column, I have decided not to keep it because some values can be confusing and there are also the columns; rain, sun and AC that give the same information in a more simple way

#### Change dtypes in order to plot later on easily

In [21]:
#---------Distance------------
ds_clean['distance'] = ds_clean['distance'].astype(str)
ds_clean['distance'] = [x.replace(',','.') for x in ds_clean['distance']]
ds_clean['distance'] = ds_clean['distance'].astype(float)

#---------Consume------------
ds_clean['consume'] = ds_clean['consume'].astype(str)
ds_clean['consume'] = [x.replace(',','.') for x in ds_clean['consume']]
ds_clean['consume'] = ds_clean['consume'].astype(float)

In [22]:
ds_clean.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun
0,28.0,5.0,26,21.5,12,all good,E10,0,0,0
1,12.0,4.2,30,21.5,13,all good,E10,0,0,0
2,11.2,5.5,38,21.5,15,all good,E10,0,0,0
3,12.9,3.9,36,21.5,14,all good,E10,0,0,0
4,18.5,4.5,46,21.5,15,all good,E10,0,0,0

In [23]:
ds_clean.dtypes

distance        float64
consume         float64
speed             int64
temp_inside      object
temp_outside      int64
specials         object
gas_type         object
AC                int64
rain              int64
sun               int64
dtype: object

### 4. Last steps cleaning the ds

Lastly we see how the columns rain, AC and sun give the same info that specials, hence why we drop the specials column

In [24]:
ds_clean = ds_clean.drop(columns=['specials'])
ds_clean.head()

   distance  consume  speed temp_inside  temp_outside gas_type  AC  rain  sun
0      28.0      5.0     26        21.5            12      E10   0     0    0
1      12.0      4.2     30        21.5            13      E10   0     0    0
2      11.2      5.5     38        21.5            15      E10   0     0    0
3      12.9      3.9     36        21.5            14      E10   0     0    0
4      18.5      4.5     46        21.5            15      E10   0     0    0

In [25]:
%store ds_clean

Stored 'ds_clean' (DataFrame)