In [1]:
#import libraries
import pandas as pd
from dotenv import load_dotenv
import os
# import the module
from sqlalchemy import create_engine

In [2]:
%store -r ds_clean_1

In [3]:
ds_clean_1.head()

,distance,consume,speed,temp_inside,temp_outside,gas_type,AC,rain,sun
0,28.0,5.0,26,21.5,12,0,0,0,0
1,12.0,4.2,30,21.5,13,0,0,0,0
2,11.2,5.5,38,21.5,15,0,0,0,0
3,12.9,3.9,36,21.5,14,0,0,0,0
4,18.5,4.5,46,21.5,15,0,0,0,0

In [4]:
ds_clean_1.dtypes

distance        float64
consume         float64
speed             int64
temp_inside     float64
temp_outside      int64
gas_type          int64
AC                int64
rain              int64
sun               int64
dtype: object

In [5]:
load_dotenv()

True

In [6]:
password = os.getenv('password')

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=password,
                               db="reto_"))

In [7]:
#Lets export the whole table now
ds_clean_1.to_sql('per_use', con = engine, if_exists = 'append')